# DC4C - Standard data containers for C
#
# Written in 2023, 2025 by mhahnFr
#
# This file is part of DC4C.
#
# To the extent possible under law, the author(s) have dedicated all copyright
# and related and neighboring rights to this software to the public domain
# worldwide. This software is distributed without any warranty.
#
# You should have received a copy of the CC0 Public Domain Dedication along with DC4C,
# see the file LICENSE. If not, see <http://creativecommons.org/publicdomain/zero/1.0/>.

*
.*
*~
!DC4C/
